.explore-food .card{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 0.9375rem;
}
  .explore-food .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}
  .explore-food .card span{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--secondary-color);
}

#explore-food{
    margin-top:-1.5rem;
}

.room-p{
    margin-top: -1rem !important;
    font-size: 20px;
    font-weight: 400;
}

.rooms_wrapper{
    margin-top: -5.375rem !important;
}

.room-item {
    position: relative;
    overflow: hidden;
}

.room-item img {
    width:100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.room-item:hover img {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}

.room-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}

.room-item:hover::before {
    opacity: 0.6;
}

.room-item .room-item-wrap {
    left: 1.875rem;
    right: 1.875rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.room-item .room-content {
    border: .125rem solid #fff;
    padding: 1rem 1.875rem;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
    opacity: 0;
}

.room-item:hover .room-content {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}