.deleteButton {
  padding: 4px 20px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

.viewButton {
  margin-right: 6px;
  padding: 4px 20px;
  border-radius: 5px;
  color: var(--secondary-color);
  border: 1px dotted var(--secondary-color);
  cursor: pointer;
}

.food_image_bootstrap{
  border-radius: 10px;
}

.remove-padding-my-order{
  padding: 0px !important;
}

.food-bootstrap-hover:hover{
  box-shadow: 1px 1px 3px 1px rgb(209, 209, 209);
  border-radius: 10px;
}
.food-bootstrap-hover{
  box-shadow: 1px 3px 5px 1px rgb(209, 209, 209);
  border-radius: 10px;
}