* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Background Color */
  --primary-color: #0b1d37;
  --secondary-color: #007ea7;
  --hover-color: #056282;
  --bg-color: #f4f4f4;
  --bg-white: #fff;
  --bg-black: #000;

  /* Text Style */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Oswald', sans-serif;
  --primary-text: #0b1d37;
  --secondary-text: #007ea7;
  --text-white: #fff;
  --text-black: #151515;
  --text-gray: #e4e4e4;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .375rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
} 